In [9]:
import pandas as pd
import numpy as np

ufos = pd.read_csv('./data/ufos.csv')
ufos.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.384210,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.200000,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.978333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.418056,-157.803611

In [10]:
ufos = pd.DataFrame({'Seconds': ufos['duration (seconds)'], 'Country': ufos['country'], 'Latitude': ufos['latitude'],
                     'Longitude': ufos['longitude']})
ufos.Country.unique()

array(['us', nan, 'gb', 'ca', 'au', 'de'], dtype=object)

In [12]:
ufos.dropna(inplace=True)
ufos = ufos[(ufos['Seconds'] >= 1) & (ufos['Seconds'] <= 60)]
ufos.head()

    Seconds Country   Latitude   Longitude
2      20.0      gb  53.200000   -2.916667
3      20.0      us  28.978333  -96.645833
14     30.0      us  35.823889  -80.253611
23     60.0      us  45.582778 -122.352222
24      3.0      gb  51.783333   -0.783333

In [19]:
from sklearn.preprocessing import LabelEncoder

ufos['Country'] = LabelEncoder().fit_transform(ufos['Country'])
ufos.head(50)

     Seconds  Country   Latitude   Longitude
2       20.0        3  53.200000   -2.916667
3       20.0        4  28.978333  -96.645833
14      30.0        4  35.823889  -80.253611
23      60.0        4  45.582778 -122.352222
24       3.0        3  51.783333   -0.783333
25      30.0        4  29.423889  -98.493333
26      30.0        4  38.254167  -85.759444
36      60.0        4  29.763056  -95.363056
38      20.0        4  41.033889  -73.763333
43      60.0        4  40.015000 -105.270000
44       2.0        4  47.606389 -122.330833
46      60.0        4  46.716389 -122.953056
52      10.0        4  29.615833  -95.557500
53      60.0        4  35.890556  -83.724722
54      30.0        4  32.759167  -97.796944
56       8.0        4  40.693611  -89.588889
57      60.0        4  36.252222  -85.951667
60       5.0        4  34.102778  -91.992222
63      60.0        4  37.804444 -122.269722
64       3.0        4  39.072500  -93.716944
67      60.0        4  39.440278  -84.362222
69      30.0        4  33.422222 -111.821944
73      15.0        4  33.448333 -112.073333
79       2.0        4  35.584722  -80.810278
81      15.0        4  35.265000  -84.553333
84      10.0        4  32.783333  -96.800000
86      45.0        4  46.211389 -119.136111
94      10.0        4  26.525000  -80.066667
95      30.0        1  46.216667  -63.483333
99       5.0        4  38.998889  -84.626667
100     10.0        4  47.606389 -122.330833
101     60.0        4  47.540556 -122.635000
108     60.0        4  33.448333 -112.073333
109     30.0        4  36.852778  -75.978333
110     43.0        4  46.013056  -91.484444
111      5.0        4  44.540278 -123.366389
121     15.0        4  42.989722 -116.092500
130      5.0        4  39.466667  -87.413889
131     15.0        4  39.768333  -86.158056
133     10.0        4  39.629444  -79.956111
141     60.0        4  38.951667  -92.333889
143     60.0        4  47.606389 -122.330833
144     30.0        4  33.415000 -111.548889
146     10.0        4  34.052222 -118.242778
156     10.0        4  34.876111  -83.958333
168     30.0        4  30.331944  -81.655833
172      3.0        4  30.266944  -97.742778
173     60.0        4  33.539444  -83.819444
176     30.0        4  27.638333  -80.397500
178     35.0        4  29.763056  -95.363056

In [14]:
from sklearn.model_selection import train_test_split

Selected_features = ['Seconds', 'Latitude', 'Longitude']
X = ufos[Selected_features]
y = ufos['Country']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [15]:
from sklearn.metrics import accuracy_score, classification_report
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train, y_train)
predictions = model.predict(X_test)

print(classification_report(y_test, predictions))
print('Predicted labels: ', predictions)
print('Accuracy: ', accuracy_score(y_test, predictions))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        41
           1       0.84      0.22      0.34       250
           2       1.00      1.00      1.00         8
           3       1.00      1.00      1.00       131
           4       0.96      1.00      0.98      4743

    accuracy                           0.96      5173
   macro avg       0.96      0.84      0.86      5173
weighted avg       0.96      0.96      0.95      5173

Predicted labels:  [4 4 4 ... 3 4 4]
Accuracy:  0.9601778465107288

/Users/treyhutson/Documents/Roswell/ML-For-Beginners/.venv/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [16]:
import pickle 
model_filename = 'ufo-model.pk1'
pickle.dump(model, open(model_filename,'wb'))

model = pickle.load(open('ufo-model.pk1','rb'))
print(model.predict([[40, 40, 74]]))

[2]

/Users/treyhutson/Documents/Roswell/ML-For-Beginners/.venv/lib/python3.11/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(